# AWS CDK
cdk.out/
cdk.context.json

# Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Coverage.py
.coverage
coverage.xml
htmlcov/

# Environment
.venv/
node_modules/

# macOS
.DS_Store

# mypy
.mypy_cache/

# PyCharm
/.idea/*
!/.idea/ContainerLogsDemo.iml
!/.idea/modules.xml
!/.idea/misc.xml
!/.idea/ruff.xml
!/.idea/vcs.xml
!/.idea/externalDependencies.xml

*.egg-info

.cspellcache
